#dialog {
	display: none;
}

.back-dialog {
	width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.dialog-content {
    margin: 40px auto 0px auto;
    width: 387px;
    height: 336px;
    background-color: #fff;
    padding-bottom: 30px;
}

.dialog-title {
	font-family: "PT Sans Caption", sans-serif;
    text-align: right;
    color: #594aaf;
    font-size: 24pt;
    margin-right: 44px;
    padding-top: 32px;
    font-weight: normal;
}

form {
	margin-left: 65px;
	margin-top: 48px;
}

.dialog-content input[type="text"] {
	padding: 9px 10px 9px 10px;
	background-color: #e6e6e6;
	width: 239px;
	margin-bottom: 9px;
	font-size: 14pt;
}

.dialog-content button {
	font-family: "Rubik", sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	padding: 17px 57px 17px 60px;
	background-color: #5b31af;
	width: 258px;
	margin-top: 2px;
}

.dialog-content button:hover {
	cursor: pointer;
	background-color: #5b31a0;
}
