p, h1, ul { margin: 0; padding: 0; }

a { text-decoration: none; }

body {
	margin: 0;
	background-image: url("../img/main_bg.jpg");
	color: #fff;
	padding-top: 11px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}

.upper {
	text-transform: uppercase;
}

.container {
	width: 1140px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

/*=======  header  =======*/

header>div {
	margin-left: 733px;
}

.phone {
	font-family: "Rubik", sans-serif;
	font-weight: bold;
	font-size: 21.14pt;
	padding: 15px 18px 12px 12px;
	border: 1px solid #b58f64;
	margin-right: 0;
}

.feedback-btn {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 10pt;
	padding: 13px 13px 13px 14px;
	background-color: #b58f64;
}

.feedback-btn a {
	color: #fff;
}

/*=======  menu  =======*/

.menu {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 20.25pt;
	background-color: #693dae;
	border-top: 7px solid #503082;
	border-bottom: 7px solid #503082;
	margin-top: 15px;
}

nav a {
	color: #c69c6d;
	display: inline-block;
	/*margin: 23px 27px 23px 25px;*/
	margin: 23px 87px 23px 58px;
}

nav a:first-child {
	margin-left: 40px;
}

nav a:last-child {
	margin-right: 38px;
}

nav img {
	margin-left: -25px;
	margin-top: -46px;
}

/*=======  about us  =======*/

#about-us {
	margin-top: 79px;
	margin-bottom: 0;
}

#about-us h1 {
	font-family: "Rubik", sans-serif;
	font-size: 53pt;
	margin-bottom: 17px;
	margin-left: 65px;
}

#about-us .text {
	font-family: "PT Sans Caption", sans-serif;
	border-left: 1px solid #c69c6d;
	margin-left: 55px;
	margin-bottom: 34px;
	padding-left: 22px;
	font-size: 16pt;
	line-height: 1.25;
}

.btn {
	background-color: transparent;
}

#about-us .triangle-topright {
	width: 0;
	height: 0;
	border-top: 45px solid transparent; 
	border-left: 45px solid #5b31af;
}

#about-us .triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 45px solid transparent; 
	border-left: 45px solid #5b31af;
}

#about-us .btn>div:first-child {
	font-family: "Rubik", sans-serif;
	font-weight: bold;
	font-size: 20.14pt;
	background-color: #5b31af;
	padding: 28px 14px 29px 27px;
	margin-left: 79px;
}

#about-us a {
	color: #fff;
}

#about-us .image {
	margin-top: 148px;
	margin-right: 90px;
	margin-bottom: -4px;
}

#about-us .bottom-line {
	height: 23px;
	background-color: #b58e65;
	border-top: 12px solid #8d6e51;
}







.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 10px solid transparent; 
	border-right: 10px solid red;
}

.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent; 
	border-right: 10px solid red;
}

.btn-text {
	background-color: red;
}

