p,h1,h2,h3,h4,h5,h6,ul{margin:0;padding:0;}

a { text-decoration: none; }

body {
	margin: 0;
	background-image: url("../img/main_bg.jpg");
	color: #fff;
	padding-top: 11px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}

.upper {
	text-transform: uppercase;
}

.container {
	width: 1140px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

/*=======  header  =======*/

header>div {
	margin-left: 733px;
}

.phone {
	font-family: "Rubik", sans-serif;
	font-weight: bold;
	font-size: 20.14pt;
	padding: 15px 18px 12px 12px;
	border: 1px solid #b58f64;
	margin-right: 0;
	height: 34px;
}

.feedback-btn {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 10.5pt;
	padding: 13px 13px 13px 14px;
	background-color: #b58f64;
	height: 37px;
}

.feedback-btn a {
	color: #fff;
}

/*=======  menu  =======*/

.menu {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 20.25pt;
	background-color: #693dae;
	border-top: 7px solid #503082;
	border-bottom: 7px solid #503082;
	margin-top: 15px;
}

nav {
	position: relative;
}

nav a {
	color: #c69c6d;
	display: inline-block;
	padding: 23px 25px 24px 25px;
}

nav a:hover {
	background-color: #6f42a0;
	border-top: #6f42a0;
	border-bottom: #6f42a0;
}

nav img {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: -40px;
	margin-left: 117px;
}

nav a:first-child {
	margin-right: 50px;
}

nav a:nth-child(4) {
	margin-left: 50px;
}

/*=======  about us  =======*/

#about-us {
	margin-top: 79px;
	margin-bottom: 0;
}

#about-us h1 {
	font-family: "Rubik", sans-serif;
	font-size: 53pt;
	margin-bottom: 17px;
	margin-left: 65px;
}

#about-us .text {
	font-family: "PT Sans Caption", sans-serif;
	border-left: 1px solid #c69c6d;
	margin-left: 55px;
	margin-bottom: 34px;
	padding-left: 22px;
	font-size: 16pt;
	line-height: 1.25;
}

.btn {
	background-color: transparent;
}

#about-us .triangle-topright {
	width: 0;
	height: 0;
	border-top: 45px solid transparent; 
	border-left: 45px solid #5b31af;
}

#about-us .triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 45px solid transparent; 
	border-left: 45px solid #5b31af;
}

#about-us .btn>div:first-child {
	font-family: "Rubik", sans-serif;
	font-weight: bold;
	font-size: 20.14pt;
	background-color: #5b31af;
	padding: 28px 14px 29px 27px;
	margin-left: 79px;
}

#about-us a {
	color: #fff;
}

#about-us .image {
	margin-top: 148px;
	margin-right: 90px;
	margin-bottom: -4px;
}

#about-us .bottom-line {
	height: 23px;
	background-color: #b58e65;
	border-top: 12px solid #8d6e51;
}

/*=======  services  =======*/

#services {
	background: url(../img/services_bg.jpg) no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100% 100%;
}

#services>div {
	background-color: rgba(32, 5, 74, 0.8);
	padding-bottom: 40px;
}

#services h1,
#services h3 {
	font-family: "PT Sans Caption", sans-serif;
	font-weight: normal;
	text-align: right;
	color: #b8b4d9;
	text-shadow: #28204c 1px 1px 0, #28204c 2px 2px 0, 
                 #28204c 3px 3px 0, #28204c 4px 4px 0, 
                 #28204c 5px 5px 0;
}

#services h1 {
	font-size: 55.86pt;
	margin-right: 41px;
}

#services h3 {
	font-size: 25.36pt;
	margin-right: 45px;
	margin-bottom: 59px;
}

.serv-list p {
	font-family: "Rubik", sans-serif;
	font-size: 18pt;
	margin-left: 87px;
	margin-bottom: 7px;
	font-weight: bold;
}

.serv-list ul {
	margin-left: 113px;
	margin-bottom: 18px;
}

.serv-list ul {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 14pt;
}

#services .btn {
	margin-left: 376px;
}

.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 48px solid transparent; 
	border-right: 48px solid #5b31af;
}

.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 48px solid transparent; 
	border-right: 48px solid #5b31af;
}

.btn-text {
	font-family: "Rubik", sans-serif;
	font-size: 29.07pt;
	background-color: red;
	padding: 24px 56px 25px 43px;
	background-color: #5b31af;
	color: #fff;
	font-weight: bold;
}

#services .under-btn {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 14pt; 
	color: #594aaf;
	text-align: right;
	margin-top: 6px;
}

/*=======  advantages  =======*/


